* {
  font-family: -apple-system, Helvetica, Arial, sans-serif;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

body {
  background-color: #212121;
  color: #F5F5F5;
}

ul {
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  font-size: 2.5em;
  height: 25px;
}

li {
  border: 1px #FF5722 solid;
  display: inline-block;
  margin-right: -11px;
  padding: 5px 10px;
}

#airport {
  min-width: 355px
}